:root{
    --staatliches: "Staatliches", sans-serif;
    --archivo: "Archivo", sans-serif;
    --color1:#012061;
    --color2:#6B6B6B;
    --color3:#f3f3f3;
    --white1:#fff;
    --black1:#000;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--archivo);
}

html {
  scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
    gap: 2rem;
}

/*Navbar Section*/

.navbar{
    width: 70dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    border-radius: 5rem;
    padding: 1rem 1.5rem 1rem 5rem;
    position: sticky;
    top:1rem;
    outline:1rem solid var(--white1);
    z-index: 1000;
}

.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-btn{
    padding: 0.5rem 1rem;
    background-color: var(--color1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--white1);
    transition: transform 0.5s ease;
}

.nav-btn:hover{
    padding: 0.5rem 1rem;
    background-color: var(--white1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--color1);
    transform: translateY(-1px);
    /* transition:  margin-bottom 0.5s ease-in-out; */

}

.primary-bg{

  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
  color: var(--white1);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
} 

.primary-bg:hover{
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}



/*Hero Section*/

.herosec{
    width: 80dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.herosec-content{
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:1rem;
}

.herosec-sponser{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.herosec-sponser-img{
    width: 250px;
}

.herosec-sponser-label{
    color: var(--color2);
    font-size: 1rem;
    font-weight: 600;
}

.herosec-title{
    font-family: var(--staatliches);
    font-size: 7rem;
    line-height: 6rem;
    color: var(--color1);
}

.herosec-subtext{
    width: 450px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color2);

}


.herosec-img{
    width: 450px;
}

.primary-btn{
    font-family: var(--archivo);
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    background-color: var(--color1);
    color: var(--white1);
    border-radius: 10rem;
    border: none;
    transition: transform 0.5s ease;
} 

.primary-btn:hover{
  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);  
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
  transform: translateY(-2px);
  cursor: pointer;
  -webkit-box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.3); 
  box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.3);
}

/*Cont Section*/

.contsec{
    width: 80dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contsec-title{
    width: 980px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--staatliches);
    font-size: 3rem;
    background-image: linear-gradient(
        135deg, 
        rgb(245, 210, 0) 0%, 
        #FF77C8 10%, 
        #B671FF 20%, 
        #00D1FF 25%, 
        rgb(0, 221, 143) 30%
    );
    
    /* Text Clipping Properties */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*Prize Section*/


.prizesec-cont{
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.prizesec-text{
    width: 440px;
    font-size: 1.5rem;
    color: var(--color2);
}

.prizesec-img{

    width:500PX;
}

/*Rules Section*/



.rulessec-cont{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}


.rulescard-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;    
}

.rulescard{
    width: 312px;
    height: 562px;
    padding: 0.2rem 0.2rem 1rem 0.2rem;
    background-color: var(--color3);
    transition: 0.5s;
    border-radius: 2rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.rulescard:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}

.rulescard-content{
    width: 280px;
    height: 530px;
    background-color: var(--white1);
    border-radius: 1.8rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 0rem 2rem;
    gap: 1rem;
}


.rulescard-img{
    width: 250px;
    border-radius: 2rem;
}

.rulescard-text{
    width: 250px;
    font-family: var(--staatliches);
    font-size: 2rem;
    text-align: center;
    color: var(--color2);
}

.rulescard:hover .rulescard-text{
    color: var(--color1);
}


/*Rules List Section*/

.ruleslist-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;    
}

.ruleslist{
    width: 980px;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: var(--color3);
    transition: 0.5s;
    border-radius: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, padding 0.5s ease;
}

.ruleslist:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.ruleslist-content{
    width: 1080px;
    background-color: var(--white1);
    border-radius: 0.8rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    gap: 1rem;
    /* background-color: var(--black1); */
}


.ruleslist-img{
    width: 50px;
    border-radius: 1rem;
}

.ruleslist-text{
    font-family: var(--staatliches);
    font-size: 1.5rem;
    text-align: center;
    color: var(--color2);
}

.ruleslist:hover .ruleslist-text{
    color: var(--color1);
}



/*Title Sponser Section*/

.titlesponsersec-cont{
 display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.titlesponsersec-img{
    border-radius: 1rem;
transition: transform 0.5s ease-in-out;
}

.titlesponsersec-img:hover{
    transform: translateY(-5px);
    -webkit-box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.5); 
    box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.5);
}

/*Footer Section*/

.footer{
    width: 100%;
    /* padding: 3rem 9rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    gap: 3rem;
}

.footer-logo-cont{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem 0rem 0rem;
}

.footer-logo{
    width: 250px;
}

.footer-bottom{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem 2rem 0rem;
}

.copyrights-text{
    color: var(--white1);
}

.footer-img{
    width: 100%;
}


.hidenav{
    display: none;
}

/*Lets Color Section*/

.coloring-module{
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.design-selection-label{
    width: 980px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color2);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}

.design-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.pictures-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--color3);
    transition: 0.5s;
    border-radius: 2rem;
    transition: transform 0.5s ease-in-out;
}

.pictures-inner:hover{
    /* border: 1px solid var(--color1); */
     transform: translateY(-5px);
    -webkit-box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.5); 
    box-shadow: -5px 5px 50px -18px rgba(30,30,30,0.5);
}


.design-preview{
    height: 300px;

}

/*Selected Image*/

.main-container{
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    outline: 1px solid var(--color3);
    border-radius: 2rem;
}

.picture-container{
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    border-radius: 1rem;
}

.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    border-radius: 1rem;
}

.color-code-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.color-code{
    cursor: pointer;
}


@media screen and (min-width:320px) and (max-width:520px){




.container{
    padding:0.2rem 0rem 0rem 0rem;
    gap: 2rem;
}




/*Mobile Navbar*/

.mobnavbar{
    width: 88dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    position: sticky;
    top:0.2rem;
    outline:0.2rem solid var(--white1);
     z-index: 1000;
}


.mobnavbar-top{
    width: 88dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobnavbar-logo{
    padding: 1rem;
}

.menu-btns{
    padding:1rem;
}

.mobnav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.mobnav-btn{
    padding: 0.5rem 1rem;
    background-color: var(--color1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--white1);
    transition: transform 0.5s ease;
}

.mobnav-btn:hover{
    padding: 0.5rem 1rem;
    background-color: var(--white1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--color1);
    transform: translateY(-1px);
    transition:  margin-bottom 0.5s ease-in-out; 
    }
 



.primary-bg{

  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
  color: var(--white1);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
} 

.primary-bg:hover{
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}



/*Navbar*/

.navbar{
    display: none;
}

/*Hero Section*/

.herosec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.herosec-content{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.herosec-sponser{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.herosec-title{
    font-size: 5rem;
    line-height: 4rem;
    text-align: center;
}

.herosec-subtext{
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
}


.herosec-img{
    width: 300px;
}

.primary-btn{
    width: 280px;
    font-size: 1rem;
} 

/*Cont Section*/

.contsec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contsec-title{
    width: 300px;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--staatliches);
    background-image: linear-gradient(
        135deg, 
        rgb(245, 210, 0) 10%, 
        #FF77C8 20%, 
        #B671FF 40%, 
        #00D1FF 60%, 
        rgb(0, 221, 143) 100%
    );
    
}


/*Prize Section*/

.prizesec-cont{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.prizesec-text{
    width: 300px;
    font-size: 1.3rem;
    color: var(--color2);
    text-align: justify;
}

.prizesec-img{

    width:300px;
}


/*Title Sponser Section*/

.titlesponsersec-cont{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.titlesponsersec-img{
    width: 300px;
}


/*Rules Section*/



.rulessec-cont{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}


/*Rules List Section*/

.ruleslist-row{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;    
}

.ruleslist{
    width: 300px;
}


.ruleslist:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}


.ruleslist-content{
    width: 300px;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0rem;
    padding: 1rem;
}


.ruleslist-img{
    width: 100px;
    border-radius: 1rem;
}

.ruleslist-text{
    font-size: 1.3rem;
}


/*Footer Section*/

.footer{
    width: 100%;
    /* padding: 3rem 9rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    gap: 2rem;
}

.footer-logo-cont{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem 0rem 1.5rem;
}

.footer-logo{
    width: 150px;
}

.footer-bottom{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0rem;
    gap: 1.5rem;
}

.footer-btns{
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.copyrights-text{
    width: 90%;
    color: var(--white1);
    padding: 0rem 1rem;
}

.footer-img{
    width: 100%;
}


/*Section Hider*/
.navbar{
    display:none;
}

/* .herosec{
    display:none;
} */


/* .prizesec{
    display:none;
} */

/* .titlesponsersec{
    display:none;
} */

/* .rulessec{
    display:none;
} */


/* .footer{
    display:none;
} */


.hidesec{
    display: none;
}

}

@media screen and (min-width:520px) and (max-width:720px){

.container{
    padding:0.5rem 0rem 0rem 0rem;
    gap: 2rem;
}




/*Mobile Navbar*/

.mobnavbar{
    width: 88dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    position: sticky;
    top:0.5rem;
    outline:0.5rem solid var(--white1);
     z-index: 1000;
}


.mobnavbar-top{
    width: 88dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobnavbar-logo{
    padding: 1rem;
}

.menu-btns{
    padding:1rem;
}

.mobnav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.mobnav-btn{
    padding: 0.5rem 1rem;
    background-color: var(--color1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--white1);
    transition: transform 0.5s ease;
    font-size: 1.3rem;
}

.mobnav-btn:hover{
    padding: 0.5rem 1rem;
    background-color: var(--white1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--color1);
    transform: translateY(-1px);
    transition:  margin-bottom 0.5s ease-in-out; 
    }
 



.primary-bg{

  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
  color: var(--white1);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
} 

.primary-bg:hover{
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}



/*Navbar*/

.navbar{
    display: none;
}

/*Hero Section*/

.herosec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.herosec-content{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.herosec-sponser{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.herosec-title{
    font-size: 5rem;
    line-height: 4rem;
    text-align: center;
}

.herosec-subtext{
    width: 400px;
    text-align: center;
    font-size: 1.3rem;
}


.herosec-img{
    width: 400px;
}

.primary-btn{
    width: 400px;
    font-size: 1rem;
} 

/*Cont Section*/

.contsec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contsec-title{
    width: 500px;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--staatliches);
    background-image: linear-gradient(
        135deg, 
        rgb(245, 210, 0) 10%, 
        #FF77C8 20%, 
        #B671FF 40%, 
        #00D1FF 60%, 
        rgb(0, 221, 143) 100%
    );
    
}


/*Prize Section*/

.prizesec-cont{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.prizesec-text{
    width: 400px;
    font-size: 1.3rem;
    color: var(--color2);
    text-align: justify;
}

.prizesec-img{

    width:400px;
}


/*Title Sponser Section*/

.titlesponsersec-cont{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.titlesponsersec-img{
    width: 400px;
}


/*Rules Section*/



.rulessec-cont{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}


/*Rules List Section*/

.ruleslist-row{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;    
}

.ruleslist{
    width: 400px;
}


.ruleslist:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}


.ruleslist-content{
    width: 400px;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0rem;
    padding: 1rem;
}


.ruleslist-img{
    width: 100px;
    border-radius: 1rem;
}

.ruleslist-text{
    font-size: 1.3rem;
}


/*Footer Section*/

.footer{
    width: 100%;
    /* padding: 3rem 9rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    gap: 2rem;
}

.footer-logo-cont{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem 0rem 1.5rem;
}

.footer-logo{
    width: 150px;
}

.footer-bottom{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0rem;
    gap: 1.5rem;
}

.footer-btns{
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.copyrights-text{
    width: 80%;
    color: var(--white1);
    padding: 0rem 1rem;
}

.footer-img{
    width: 100%;
}


/*Section Hider*/
.navbar{
    display:none;
}

/* .herosec{
    display:none;
} */


/* .prizesec{
    display:none;
} */

/* .titlesponsersec{
    display:none;
} */

/* .rulessec{
    display:none;
} */


/* .footer{
    display:none;
} */


.hidesec{
    display: none;
}

}

@media screen and (min-width:720px) and (max-width:920px){

.container{
    padding:0.5rem 0rem 0rem 0rem;
    gap: 2rem;
}




/*Mobile Navbar*/

.mobnavbar{
    width: 88dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    position: sticky;
    top:0.5rem;
    outline:0.5rem solid var(--white1);
     z-index: 1000;
}


.mobnavbar-top{
    width: 88dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobnavbar-logo{
    padding: 1rem;
}

.menu-btns{
    padding:1rem;
}

.mobnav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.mobnav-btn{
    padding: 0.5rem 1rem;
    background-color: var(--color1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--white1);
    transition: transform 0.5s ease;
    font-size: 1.3rem;
}

.mobnav-btn:hover{
    padding: 0.5rem 1rem;
    background-color: var(--white1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--color1);
    transform: translateY(-1px);
    transition:  margin-bottom 0.5s ease-in-out; 
    }
 



.primary-bg{

  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
  color: var(--white1);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
} 

.primary-bg:hover{
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}



/*Navbar*/

.navbar{
    display: none;
}

/*Hero Section*/

.herosec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.herosec-content{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.herosec-sponser{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.herosec-title{
    font-size: 6rem;
    line-height: 5rem;
    text-align: center;
}

.herosec-subtext{
    width: 500px;
    text-align: center;
    font-size: 1.5rem;
}


.herosec-img{
    width: 500px;
}

.primary-btn{
    width: 500px;
    font-size: 1.3rem;
} 

/*Cont Section*/

.contsec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contsec-title{
    width: 500px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--staatliches);
    background-image: linear-gradient(
        135deg, 
        rgb(245, 210, 0) 10%, 
        #FF77C8 20%, 
        #B671FF 40%, 
        #00D1FF 60%, 
        rgb(0, 221, 143) 100%
    );
    
}


/*Prize Section*/

.prizesec-cont{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.prizesec-text{
    width: 500px;
    font-size: 1.5rem;
    color: var(--color2);
    text-align: justify;
}

.prizesec-img{

    width:500px;
}


/*Title Sponser Section*/

.titlesponsersec-cont{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.titlesponsersec-img{
    width: 500px;
}


/*Rules Section*/



.rulessec-cont{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}


/*Rules List Section*/

.ruleslist-row{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;    
}

.ruleslist{
    width: 500px;
}


.ruleslist:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}


.ruleslist-content{
    width: 500px;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0rem;
    padding: 1rem;
}


.ruleslist-img{
    width: 75px;
    border-radius: 1rem;
}

.ruleslist-text{
    font-size: 1.3rem;
}


/*Footer Section*/

.footer{
    width: 100%;
    /* padding: 3rem 9rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    gap: 2rem;
}

.footer-logo-cont{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem 0rem 1.5rem;
}

.footer-logo{
    width: 150px;
}

.footer-bottom{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0rem;
    gap: 1.5rem;
}

.footer-btns{
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.copyrights-text{
    width: 80%;
    color: var(--white1);
    padding: 0rem 1rem;
}

.footer-img{
    width: 100%;
}


/*Section Hider*/
.navbar{
    display:none;
}

/* .herosec{
    display:none;
} */


/* .prizesec{
    display:none;
} */

/* .titlesponsersec{
    display:none;
} */

/* .rulessec{
    display:none;
} */


/* .footer{
    display:none;
} */


.hidesec{
    display: none;
}

}

@media screen and (min-width:920px) and (max-width:1080px){

.container{
    padding:0.5rem 0rem 0rem 0rem;
    gap: 2rem;
}




/*Mobile Navbar*/

.mobnavbar{
    width: 88dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    position: sticky;
    top:0.5rem;
    outline:0.5rem solid var(--white1);
     z-index: 1000;
}


.mobnavbar-top{
    width: 88dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobnavbar-logo{
    padding: 1rem;
}

.menu-btns{
    padding:1rem;
}

.mobnav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.mobnav-btn{
    padding: 0.5rem 1rem;
    background-color: var(--color1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--white1);
    transition: transform 0.5s ease;
    font-size: 1.3rem;
}

.mobnav-btn:hover{
    padding: 0.5rem 1rem;
    background-color: var(--white1);
    border-radius: 5rem;
    text-decoration: none;
    font-family: var(--archivo);
    font-weight: 500;
    color: var(--color1);
    transform: translateY(-1px);
    transition:  margin-bottom 0.5s ease-in-out; 
    }
 



.primary-bg{

  background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
  color: var(--white1);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
} 

.primary-bg:hover{
  color: var(--white1);
  transition: 0.5s ease-in-out;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}



/*Navbar*/

.navbar{
    display: none;
}

/*Hero Section*/

.herosec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.herosec-content{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.herosec-sponser{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.herosec-title{
    font-size: 6rem;
    line-height: 5rem;
    text-align: center;
}

.herosec-subtext{
    width: 500px;
    text-align: center;
    font-size: 1.5rem;
}


.herosec-img{
    width: 500px;
}

.primary-btn{
    width: 500px;
    font-size: 1.3rem;
} 

/*Cont Section*/

.contsec{
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contsec-title{
    width: 500px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--staatliches);
    background-image: linear-gradient(
        135deg, 
        rgb(245, 210, 0) 10%, 
        #FF77C8 20%, 
        #B671FF 40%, 
        #00D1FF 60%, 
        rgb(0, 221, 143) 100%
    );
    
}


/*Prize Section*/

.prizesec-cont{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.prizesec-text{
    width: 700px;
    font-size: 1.5rem;
    color: var(--color2);
    text-align: justify;
}

.prizesec-img{

    width:500px;
}


/*Title Sponser Section*/

.titlesponsersec-cont{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.titlesponsersec-img{
    width: 350px;
}


/*Rules Section*/



.rulessec-cont{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}


/*Rules List Section*/

.ruleslist-row{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;    
}

.ruleslist{
    width: 700px;
}


.ruleslist:hover{
    background-image: radial-gradient(ellipse farthest-corner at 10% 25%, rgb(245, 210, 0) 0%, #FF77C8 25%, #B671FF 50%, #00D1FF 75%, rgb(0, 221, 143) 100%);
    transform: translateY(-5px); 
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}


.ruleslist-content{
    width: 700px;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0rem;
    padding: 1rem;
}


.ruleslist-img{
    width: 75px;
    border-radius: 1rem;
}

.ruleslist-text{
    font-size: 1.3rem;
}


/*Footer Section*/

.footer{
    width: 100%;
    /* padding: 3rem 9rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    gap: 2rem;
}

.footer-logo-cont{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem 0rem 1.5rem;
}

.footer-logo{
    width: 150px;
}

.footer-bottom{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0rem;
    gap: 1.5rem;
}

.footer-btns{
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.copyrights-text{
    width: 80%;
    color: var(--white1);
    padding: 0rem 1rem;
}

.footer-img{
    width: 100%;
}


/*Section Hider*/
.navbar{
    display:none;
}

/* .herosec{
    display:none;
} */


/* .prizesec{
    display:none;
} */

/* .titlesponsersec{
    display:none;
} */

/* .rulessec{
    display:none;
} */


/* .footer{
    display:none;
} */


.hidesec{
    display: none;
}

}